* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

@media (max-width: 1024px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
.card {
  box-shadow: none;
}

.gallery-image {
  width: 100%;
}
